
<!DOCTYPE html>

<html ng-app>
    <head>
        <title>tic-tac-toe</title>
        <link rel="stylesheet" media="screen" href="stylesheets/app.css">
        <link rel="shortcut icon" type="image/png" href="images/favicon.png">
        <script src="javascripts/jquery-1.9.0.min.js" type="text/javascript"></script>
        <script src="javascripts/controllers.js" type="text/javascript"></script>
        <script src="javascripts/lib/angular/angular.min.js" type="text/javascript"></script>
         
    </head>
    <body>
        <div id="ttt" ng-controller="GameCtrl">
      <div id="header">I want to play a game with you</div>
      <div id="header">
      <select ng-model="gameType" ng-change="play()">
          <option value="hvh">Mortal vs Mortal</option>
          <option value="hvc">Blue Gene vs Mortal</option>
          <option value="cvc">Clash of the titans</option>
    </select>
      </div>
        <div class="board">
          <div id="square_0" class="square" ng-click="mark(0)"><div class="mark">{{board.board[0]}}</div></div>
          <div id="square_1" class="square" ng-click="mark(1)"><div class="mark">{{board.board[1]}}</div></div>
          <div id="square_2" class="square" ng-click="mark(2)"><div class="mark">{{board.board[2]}}</div></div>
          <div id="square_3" class="square" ng-click="mark(3)"><div class="mark">{{board.board[3]}}</div></div>
          <div id="square_4" class="square" ng-click="mark(4)"><div class="mark">{{board.board[4]}}</div></div>
          <div id="square_5" class="square" ng-click="mark(5)"><div class="mark">{{board.board[5]}}</div></div>
          <div id="square_6" class="square" ng-click="mark(6)"><div class="mark">{{board.board[6]}}</div></div>
          <div id="square_7" class="square" ng-click="mark(7)"><div class="mark">{{board.board[7]}}</div></div>
          <div id="square_8" class="square" ng-click="mark(8)"><div class="mark">{{board.board[8]}}</div></div>
        </div>
        <div style="" id="footer">
          <div class="message"><a href="https://github.com/aswani/tic-tac-toe">view code at github</a></div>
        </div>
      </div>     

    </body>
</html>